/* body{
    text-align:center;

} */
/* div{
    height:100px;
    width:50px;
    display: inline-block;
    border: 2px solid black; */
    
/* }
#container{
    height:600px;
    width:700px;
    display: flex; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
     /* flex-direction: row; */
    /* flex-direction: row-reverse; */ 
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between;
    justify-content: space-evenly; */
    /* align-items: center; */
    /* flex-wrap:nowrap; */
    /* flex-wrap:wrap; */
    /* flex-wrap:wrap-reverse; */ 
    /* align-content :center; */
    /* align-content :flex-start;
    align-content :flex-start;
} */
/* #box1{
    background-color:aqua;
    flex-grow:1;
}    
#box2{
    background-color:pink;
    height:200px;
    /* flex-shrink:0; */
    /* flex-grow:2; */
/* 
}     */
/* #box3{
    background-color:greenyellow;
    height:75px;
}    
#box4{
    background-color:yellow;
}    
#box5{
    background-color:rgb(75, 44, 75);
/* }     */ 

/* div{
    height:50px;
    width:50px;
    background-color:blue;   
}
@media(width:600.32px){
    div{
        background-color: pink ;
    }
}
@media(min-width:600px){
    div{
        background-color: green ;
    }
}
@media(max-width:800px){
    div{
        background-color: green ;
    }
} */


div{
    height:200px;
    width:200px;
    background-color:orange;
}
@media(-max-width:300px){
    div{
        background:green;
    }
}
@media( max-width:800px) and (min-width:400px){
    div{
        background:pink;
    }
}
@media(min-width:400px)and (max-width:600){
    div{
        background:blue;
    }
}
@media(min-width:600px){
    div{
        background:red;
    }
}