.loader{
    height:200px;
    width:200px;
    border-radius: 50%;
    border:20px solid blue;
    border-top:20px solid red;
    /* background-color: pink; */
    animation: ringround 3s ease-in 0s infinite normal;
    
}
@keyframes ringround{
    from{
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}