/* #box1{
    height:100px;
    width:200px;
    background:blue;
    font-size:10px;
}
#box2{
    /* height:50px; */
    /* width:30%;
    background:red;
    margin-left: 10%;
    font-size:2em; */
    /* width:5em; */
    /* width:5rem; */
     /* height:100vh;
/* } */ 
div{
    height:100px;
    width:200px;
    background:aqua;
    border:solid black 2px;
    display:inline-block;
}
body{
background-image: url('cat@photo.avif');
background-size:contain;
background-repeat:no-repeat;
}

#box1{
    background-image: url('cat@photo.avif');
    /* background-size:cover; */
    background-size:contain;
}