/* h1{
    color: red;
    background-color: black;
  
}


p{
    color: rgb(228, 161, 74);
    background-color: rgb(117, 18, 193);
}


 * {
    color:pink;
    }
    h1{
    color: red;
    background-color: black;
  
} */

#first{
color:red;
}

.button{
    color:orange;
}
.box{
    background-color:rgb(51, 76, 74);
}
p{
    text-align: right;
    text-align: left;
    text-align: center;
}

h1{
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    text-decoration: underline;
    text-align: center;
    text-transform : capitalize
}
a{
    text-decoration: none;
}
h1{
    font-weight: normal;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bolder;
}
h3{
    font-weight: lighter;
}

#one{
font-family: 'Times New Roman', Times, serif;
font-size:21px;
line-height: 20px;
text-transform:uppercase;
}
